/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);*/
.container {
    display: flex;
    position: relative;
    min-width: 1440px;
    height: 882px;
    background: #8DBDBA;
    color: #F5F5F5;

}

.main_title {
    position: absolute;
    width: 400px;
    height: 60px;
    margin-top: 100px;
    margin-left: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 67px;
    line-height: 70px;
    color: #F5F5F5;
    /*border: 1px solid red;*/
    z-index: 4;
}

.container .ball:hover {
    position: absolute;
    cursor: pointer;
    background: linear-gradient(131.29deg, rgba(225, 255, 244, 0.03) 1.1%, rgba(20, 54, 41, 0) 108.32%), radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%), linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44));

    box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    /*border-right: 1px solid rgba(255, 255, 255, 0.2);*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
    /*background: rgba(255, 255, 255, 0.1);*/
    /*backdrop-filter: blur(70px);*/
    /*border-radius: 50%;*/
    animation: animate 9s linear infinite;
    z-index: 1;

}

@keyframes animate {
    0% {
        /*transform: translateX(-40px);*/
        transform: scale(1.0, 1.0)
    }
    10% {
        transform: scale(1.1, 1.1)
    }
    20% {
        transform: scale(1.15, 1.15)
    }
    30% {
        transform: scale(1.2, 1.2)
    }
    40% {
        transform: scale(1.25, 1.25)
    }
    50% {
        transform: scale(1.3, 1.3)
    }
    60% {
        transform: scale(1.35, 1.35)
    }
    70% {
        transform: scale(1.4, 1.4)
    }
    80% {
        transform: scale(1.45, 1.45)
    }
    90% {
        transform: scale(1.48, 1.48)
    }
    100% {
        transform: scale(1.5, 1.5)
    }

}

.container .ball:nth-child(1) {
    position: absolute;
    width: 390px;
    height: 300px;
    left: 249px;
    top: 0px;
    background-image: url("../assets/UnionUp.svg");
    border-radius: 50%;
    border: 1px solid red;
    z-index: 3;

}

.container .ball:nth-child(2) {
    position: absolute;
    width: 322px;
    height: 253px;
    left: 0;
    top: 622px;
    background-image: url("../assets/Union.svg");
    /*border: 1px solid red;*/
}

.container .ball:nth-child(3) {
    position: absolute;
    width: 384.66px;
    height: 330.66px;
    right: 160px;
    top: 552.42px;
    background-image: url("../assets/UnionBottom.svg");
    /*border: 1px solid red;*/
    z-index: 1;
}

.laptop_box {
    position: absolute;
    width: 1020px;
    height: 579px;
    top: 164px;
    right: 258px;
    background-image: url("../assets/GroupAm.png");
    /*border: 1px solid red;*/
    z-index: 2;
}
.shadow_laptop{
    position: absolute;
    width: 587.15px;
    height: 13.7px;
    left: 349.36px;
    top: 746.29px;
    /*border:1px solid red;*/

    background: #000000;
    filter: blur(25px);
    /*z-index: 1;*/
}

.box {
    /*box-sizing: border-box;*/
    position: absolute;
    width: 668px;
    height: 432px;
    left: 100px;
    top: 350px;
    background: linear-gradient(0deg, rgba(0, 37, 23, 0.3), rgba(0, 37, 23, 0.3));
    background-blend-mode: normal, multiply;
    border: 0.5px solid rgba(64, 89, 80, 0.5);
    box-shadow: inset 0.860527px 0.860527px 0.860527px rgba(53, 74, 66, 0.2);
    backdrop-filter: blur(30px);
    /*border: 1px solid red;*/
    z-index: 2;

}

.text_title {
    position: absolute;
    width: 570px;
    height: 80px;
    right: 78px;
    top: 20px;
    /*border: 1px solid red;*/

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    /* Neutral/Background */
    color: #F5F5F5;

}

.text_header {
    position: absolute;
    width: 530px;
    height: 78px;
    right: 118px;
    top: 116px;

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /*border: 1px solid red;*/
    /* or 144% */
    /* Neutral/Background */

    color: #F5F5F5;
}

.left_arrow_box {
    /*box-sizing: border-box;*/

    position: absolute;
    width: 48px;
    height: 48px;
    left: 20px;
    top: 214px;

    opacity: 0.5;
    /* Neutral/Background */

    border: 1px solid #F5F5F5;
}

.arrow_link_img {
    padding: 10px;
}

.right_arrow_box {
    /*box-sizing: border-box;*/
    position: absolute;
    width: 48px;
    height: 48px;
    left: 84px;
    top: 214px;

    /* Neutral/Background */

    border: 1px solid #F5F5F5;
}

.tab_container {
    /*box-sizing: border-box;*/
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    width: 588px;
    height: 94px;
    left: 20px;
    top: 282px;
    list-style: none;
    background: rgba(0, 37, 23, 0.2);
    border: 1px solid rgba(226, 226, 226, 0.5);
}

.list_item {
    border-right: 1px solid rgba(226, 226, 226, 0.5);
    height: 94px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.title_tab_text {
    /*position: absolute;*/
    width: 146px;
    height: 28px;
    left: 40px;
    top: 302px;
    margin: 3px;

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    /* Neutral/Background */
    color: #F5F5F5;
}

.second_title_tab_text {
    /*position: absolute;*/
    width: 146px;
    height: 18px;
    left: 40px;
    top: 338px;
    margin: 3px;
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    /* Neutral/Background */
    color: #F5F5F5;
}

.vertical_line {
    /*position: absolute;*/
    width: 93px;
    height: 0px;
    left: 206px;
    top: 282px;
    border: 1px solid rgba(226, 226, 226, 0.5);
    transform: rotate(90deg);
}

.title_tab_text_second {
    width: 146px;
    height: 28px;
    left: 226px;
    top: 302px;
    margin: 3px;
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    /* Neutral/Background */
    color: #F5F5F5;
}

.second_title_tab_text_two {
    width: 155px;
    height: 18px;
    left: 226px;
    top: 338px;
    margin: 3px;
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    /* Neutral/Background */
    color: #F5F5F5;
}

.title_tab_text_third {
    width: 146px;
    height: 28px;
    left: 421px;
    top: 302px;
    margin: 3px;
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    /* Neutral/Background */
    color: #F5F5F5;

}

.second_title_tab_text_third {
    width: 167px;
    height: 18px;
    left: 421px;
    top: 338px;
    margin: 3px;
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    /* Neutral/Background */
    color: #F5F5F5;
}

.image_box {
    width: 1017.27px;
    height: 576.09px;
    left: 337.66px;
    top: 148px;
    background: rgba(134, 117, 186, 0.34);
    transform: rotate(-0.57deg);
}

